<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fshuai.mapper.AnnouncementMapper">
    <insert id="insert">
        insert into announcement(title,content,attachments,publish_date,state,publish_user,dept_id)
        values (#{title},#{content},#{attachments},#{publishDate},#{state},#{publishUser},#{deptId})
    </insert>
    <update id="updateById">
        update announcement
        <set>
            <if test="content != null and content!='' ">
                content=#{content},
            </if>
            <if test="attachments != null and attachments!='' ">
                attachments=#{attachments},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteBatchByIds">
        delete from announcement where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="pageQuery" resultType="com.fshuai.vo.AnnouncementVO">
        SELECT
        a.id id,
        a.title title,
        a.content content,
        a.attachments attachments,
        a.publish_date publish_date,
        d.`name` dept_name,
        d.id dept_id
        FROM
        announcement a,
        department d
        <where>
            a.dept_id = d.id
            <if test="title != null and title!='' ">
                and title = #{title}
            </if>
            <if test="publishDate != null and publishDate!='' ">
                and publish_date = #{publishDate}
            </if>
            <if test="deptId != null">
                and dept_id=#{deptId}
            </if>
        </where>
    </select>
    <select id="selectByDeptAndIds" resultType="com.fshuai.entity.Announcement">
        select *
        from announcement
        where dept_id = #{deptId}
        and id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectDetailById" resultType="com.fshuai.entity.Announcement">
        select * from announcement where id = #{id}
    </select>
</mapper>
