<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fshuai.mapper.ProjectMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project (name, category, teacher_id, teacher_name, principal_id, principal_name, mentor_id,
                             begin_time, end_time, description,
                             attachments, type, state, dept_id, number)
        VALUES (#{name}, #{category}, #{teacherId}, #{teacherName}, #{principalId}, #{principalName},
                #{mentorId}, #{beginTime}, #{endTime}, #{description},
                #{attachments}, #{type}, #{state}, #{deptId}, #{number})
    </insert>
    <update id="update">
        update project
        <set>
            <if test="name != null and name!='' ">
                name=#{name},
            </if>
            <if test="category != null">
                category=#{category},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
            <if test="deptId != null">
                dept_id=#{deptId},
            </if>
            <if test="endTime != null">
                end_time=#{endTime},
            </if>
            <if test="description != null and description!=''">
                description=#{description},
            </if>
            <if test="attachments != null and attachments!=''">
                attachments=#{attachments},
            </if>
            <if test="achievement != null and achievement!=''">
                achievement=#{achievement},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectByPrincipalId" resultType="com.fshuai.entity.Project">
        select *
        from project
        where principal_id = #{principalId}
    </select>
    <select id="selectByIds" resultType="com.fshuai.entity.Project">
        select * from project where id in
        <foreach collection="projectIds" open="(" close=")" separator="," item="projectId">
            #{projectId}
        </foreach>
    </select>
    <select id="selectById" resultType="com.fshuai.entity.Project">
        select *
        from project
        where id = #{projectId}
    </select>
    <select id="pageQuery" resultType="com.fshuai.vo.ProjectPageVO">
        SELECT
        p.*,
        t.`name` teacherName,
        s.`name` principalName,
        d.`name` deptName
        FROM
        project p,
        teacher t,
        student s,
        department d
        <where>
            p.teacher_id = t.id
            AND p.dept_id = d.id
            AND p.principal_id = s.id
            <if test="beginTime != null and beginTime!='' ">
                and p.begin_time = #{beginTime}
            </if>
            <if test="name != null and name!='' ">
                and p.name = #{name}
            </if>
            <if test="deptId != null">
                and p.dept_id=#{deptId}
            </if>
            <if test="type != null">
                and p.type=#{type}
            </if>
            <if test="state != null">
                and p.state=#{state}
            </if>
        </where>
    </select>
    <select id="reviewPageQuery" resultType="com.fshuai.vo.ProjectPageVO">
        SELECT
        p.*,
        t.`name` teacherName,
        s.`name` principalName,
        d.`name` deptName
        FROM
        project p,
        teacher t,
        student s,
        department d
        <where>
            p.teacher_id = t.id
            AND p.dept_id = d.id
            AND p.principal_id = s.id
            <if test="deptId != null">
                and p.dept_id=#{deptId}
            </if>
            <if test="states != null">
                and p.state in
                <foreach collection="states" separator="," item="state" open="(" close=")">
                    #{state}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
