<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fshuai.mapper.SettingsMapper">
    <insert id="add">
        INSERT INTO settings(`key`,`value`)
        VALUES
        ( #{key}, #{value} )
    </insert>
    <delete id="deleteByKey">
        DELETE
        FROM
        settings
        WHERE
        `key` = #{key}
    </delete>
    <select id="selectByKey" resultType="com.fshuai.entity.Settings">
        select *
        from settings
        where `key` = #{key}
    </select>
</mapper>
