<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fshuai.mapper.StudentMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into student(name,id_number,sex,dept_id,major_id,password,phone,state)
        values (#{name},#{idNumber},#{sex},#{deptId},#{majorId},#{password},#{phone},#{state})
    </insert>


    <select id="selectByIdNumber" resultType="com.fshuai.entity.Student">
        select *
        from student
        where id_number = #{idNumber}
    </select>
</mapper>
