<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fshuai.mapper.TeacherMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into teacher(name,id_number,sex,dept_id,major_name,password,phone,state,role)
        values (#{name},#{idNumber},#{sex},#{deptId},#{majorName},#{password},#{phone},#{state},#{role})
    </insert>
    <update id="updateByIdNumber">
        update teacher
        <set>
            <if test="name != null and name!='' ">
                name=#{name},
            </if>
            <if test="sex != null">
                sex=#{sex},
            </if>
            <if test="deptId != null">
                dept_id=#{deptId},
            </if>
            <if test="majorName != null and majorName!='' ">
                major_name=#{majorName},
            </if>
            <if test="password != null and password!=''">
                password=#{password},
            </if>
            <if test="phone != null and phone!=''">
                phone=#{phone},
            </if>
            <if test="role != null">
                role=#{role},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
        </set>
        where id_number = #{idNumber}
    </update>
    <delete id="deleteBatch">
        delete from teacher where id in
        <foreach collection="teachers" item="teacher" separator="," open="(" close=")">
            #{teacher.id}
        </foreach>
    </delete>


    <select id="selectByIdNumber" resultType="com.fshuai.entity.Teacher">
        select *
        from teacher
        where id_number = #{idNumber}
    </select>
    <select id="selectById" resultType="com.fshuai.entity.Teacher">
        select *
        from teacher
        where id = #{teacherID}
    </select>
    <select id="pageQuery" resultType="com.fshuai.vo.TeacherVO">
        SELECT
        t.id id,
        t.`name` `name`,
        t.id_number id_number,
        t.dept_id dept_id,
        t.major_name major_name,
        t.role role,
        d.`name` dept_name
        FROM
        teacher t,
        department d
        <where>
            t.dept_id = d.id
            <if test="name != null and name!='' ">
                and t.`name` = #{name}
            </if>
            <if test="idNumber != null and idNumber!='' ">
                and id_number = #{idNumber}
            </if>
            <if test="deptId != null">
                and dept_id=#{deptId}
            </if>
        </where>
    </select>
</mapper>
